/* #chords {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 496px;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
} */

#wrapper{
    display: block;
}

#chart-editor{
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    position: absolute;
    width: 100vw;
    height: fit-content;
}

.modify_chart{
    height: 25px;
    width: 30px;
    border-radius: 2px;
    background-color: lightgrey;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.chord-block{
    position: relative;
    background: #fac680;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    width: 100px;
    border-right: 1px solid rgba(0,0,0,.055);
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.chord-block.left {
    border-radius: 4px 0 0 4px;
}

.chord-block .chord{
    color: #505050;
    font-size: 20px;
    padding-bottom: 6px;
    text-align: center;
}

.chord-selected {
    background: rgb(255 145 0);
}

.chord-block.right {
    border-radius: 0 4px 4px 0;
    border-right: 2px solid black;
}

.end-bar{
    border-left: 2px solid black;
}

.chord-block .degree {
    color: #4a4a4a;
    font-size: 16px;
    text-align: center;
}

.chart-line{
    padding-right: 0px;
    padding-left: 10px;
    display: inline-flex;
    width: fit-content;
    max-width: 100%;
    border-right: 2px solid black;

}


.icon-edit {
    color: #505050;
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: 8px;
}