/* #chords {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 496px;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
} */

#wrapper{
    display: block;
}

#chart-editor{
    background-color:rgb(58, 138, 164); /* grey;*/
    padding: 5px 10px;
    border-radius: 5px;
    display: block;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

.modify_chart{
    height: 25px;
    width: 30px;
    border-radius: 2px;
    background-color: lightgrey;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.chord-block{
    position: relative;
    background: antiquewhite;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    width: 100px;
    border-right: 1px solid rgba(0,0,0,.055);
    border-bottom: 1px solid rgba(0,0,0,.055);
}

.chord-block.left {
    border-radius: 4px 0 0 4px;
}

.chord-block .chord{
    color: #73767c;
    font-size: 20px;
    padding-bottom: 6px;
    text-align: center;
}

.chord-block .selected {
    background: #ba6113;
}

.chord-block.right {
    border-radius: 0 4px 4px 0;
    border-right: 0;
}

.end-bar{
    border-left: 2px solid black;
}

.chord-block .degree {
    color: #9f9f9f;
    font-size: 16px;
    text-align: center;
}

.chart-line{
    padding-right: 10px;
    padding-left: 0px;
    display: flex;
    width: 100%;
}



.edit{
    color: #73767c;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 8px;
}
