/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    height: auto;
    top: 10%;
}

.modal-header {
    padding: 0 15px;
    color: rgba(0,0,0,.65);
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 4px 4px 0 0;
    width: -webkit-fill-available;
}

.modal-body {
  width: -webkit-fill-available;
  height: auto;
  padding: 15px 15px;
}
  
/* The Close Button */
.close {
    position: absolute;
    color: #aaaaaa;
    right: 0;
    padding-right: 10px;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.new-params {
    padding-bottom: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.input-param {
    position: absolute;
    left: 15%;
}

#new-title {
    position: relative;
    width: 100%;
}

#song-title {
    width: 50%;
}

form {
    display: inline;
    width: fit-content;
}

#add-song {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.new-song-name {
    width: -webkit-fill-available;
    position: inherit;
}

.mtr-cntr {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-evenly;
    width: 45vw;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.meter-btn {
    display: inline-block;
    justify-content: center;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
}

.meter-btn:hover {
    color: darkgray;
    cursor: pointer;
}

.selected {
    background-color: #1582e6;
    color: #fff;
}

.sweet-slider {
    max-width: 350px;
    margin: auto;
    width: 100%;
    display: grid;
    justify-content: space-around;
}

.sweet-slider-title {
    padding-top: 2px;
    padding-bottom: 8px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
