body {
  margin: 0;
  background:rgb(58, 138, 164);
  color: #222;
}

div {
  display: inline-block;
}

h1 {
  padding-top: 0;
  text-align: center;
  width: 100%;
  font-family: 'Parisienne', cursive;
  font-size: 50px;
  margin-top: 5%;
  margin-bottom: 0;
}

h2 {
  margin: auto;
  width: 100%;
  font-size: 30px;
  font-family:'Courier New', Courier, monospace;
}

#bpm {
  height: 4vh;
  vertical-align: middle;
  font-size: 18px;
  background-color:rgb(58, 138, 164);
  border: transparent;
}

#music-info {
  position: relative;
  width: 230px;
  height: 5vh;
  top: 5%;
  left: 10%;
}

label {
  position: relative;
  top: 1%;
  font-size: 18px;
}

select {
  position: relative;
  width: 50px;
  height: 30px;
  top: 25%;
  left: 10%;
  font-size: 18px;
  background-color:rgb(58, 138, 164);
  border: transparent;
}

select:hover {
  cursor: pointer;
}

#key {
  position: relative;
  left: 3%;
}

#keys {
  position: relative;
  left: 23%;
}

#meter-num {
  height: 50%;
  width: 11%;
  vertical-align: middle;
  font-size: 20px;
  background-color: rgb(58, 138, 164);
  border: transparent;
  padding: 0% ;
}

#comper {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  border-radius: 10px;
  vertical-align: middle;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: scroll;
}

#meters {
  position: relative;
  top: 5%;
}

#tempo {
  position: relative;
  vertical-align: baseline;
  top: 5%;
}

#music-note {
  position: relative;
  font-size: 20px;
  width: 60px;
  height: 5vh;
}

#control-buttons {
  position: relative;
  width: fit-content;
  height: 7vh;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  vertical-align: middle;
  padding: 5px;
  border: 1px solid #FFF;
  color: #000;
  border-radius: 5px;
  top: -5%;
}

.button {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}

.button:hover {
  color:darkgrey;
  cursor: pointer;
}

.name {
  position: relative;
  top: 5px;
  font-size: 14px;
  display: table;
}

#chords {
  position: relative;
  background-color: rgb(58, 138, 164);
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#piano-roll {
  position: relative;
  top: 7%;
  text-align: center;
}

.waterfall-visualizer {
  position: relative;
}

svg.waterfall-piano rect[original-fill="white"] {
  /*stroke: lightsteelblue;*/
  stroke: url(#keyGradient);

}
svg.waterfall-piano rect[original-fill="black"]:not(.active){
  stroke: none;
  fill: url(#keyGradient);
}
