body {
  margin: 0;
  background:rgb(58, 138, 164);
  color: #222;
}

div {
  display: inline-block;
}

h1 {
  padding-top: 0;
  text-align: center;
  width: 100%;
  /* font-family: cursive; */
  font-family: 'Parisienne', cursive;
  font-size: 50px;
}

h2 {
  margin-bottom: 0;
  width: 100%;
  font-family:'Courier New', Courier, monospace;
}

input {
  height: 4vh;
  vertical-align: middle;
  font-size: 25px;
  background-color:rgb(58, 138, 164);
  border: transparent;
}

#music-info {
  position: relative;
  width: 230px;
  height: 5vh;
  left: 6%;
}

select {
  top: 25%;
  width: 70px;
  height: 30px;
  font-size: 25px;
  position: relative;
  background-color:rgb(58, 138, 164);
  border: transparent;
}

#meter-num {
  height: 50%;
  width: 11%;
  vertical-align: middle;
  font-size: 20px;
  background-color: rgb(58, 138, 164);
  border: transparent;
  padding: 0% ;
}

#comper {
  width: 100vw;
  height: 100vh;
  padding: 10px;
  border-radius: 10px;
  vertical-align: middle;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  overflow: scroll;
}

#meter {
  position: relative;
  font-size: 30px;
  vertical-align: top;
  padding: 3%;
}

#music-note {
  position: relative;
  font-size: 30px;
  width: 60px;
  height: 5vh;
  left: 10%;
  vertical-align: top;
}

#control-buttons {
  position: relative;
  width: 40vw;
  height: 7vh;
  top: 1%;
  left: 50%;
  transform: translateX(-70%);
  align-content: center;
  vertical-align: middle;
  /* text-align: center; */
}

button {
  padding-inline: 2%;
  padding-left: 0.8%;
  width: 4vw;
  height: 4vh;
  border-radius: 4px;
}

button:hover {
  color:darkgrey;
}

#chords {
  position: relative;
  background-color: rgb(58, 138, 164);
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#piano-roll {
  position: relative;
  top: 7%;
  text-align: center;
}

.waterfall-visualizer {
  position: relative;
}

svg.waterfall-piano rect[original-fill="white"] {
  /*stroke: lightsteelblue;*/
  stroke: url(#keyGradient);

}
svg.waterfall-piano rect[original-fill="black"]:not(.active){
  stroke: none;
  fill: url(#keyGradient);
}
